.terminal-wrapper {
    min-height: 350px;
    max-width: 650px;
    max-height:350px;
    background: rgba(88, 21, 97, 0.95);
    border-radius: 0.3rem;
    box-shadow: 0 20px 60px 10px rgba(236, 93, 255, 0.75);
    padding:5px;
    overflow-x:hidden
}

.terminal-header {
    display:flex;
    flex-direction: row;
    height:30px;
    flex-grow: 1;
    /* justify-content: center; */
    align-items: center;
    color:white;
    font-size:16px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.icons, .empty-container {
    display:flex;
    flex: 1;
}

.icons span{
    width: 0.875rem;
    height: 0.875rem;
    margin: 0 0 0 8px;
    border-radius: 50%;
}

.icons span:first-child {
    background: #fc615c;
}

.icons span:nth-child(2) {
    background: #fdbc40;
}

.icons span:nth-child(3) {
    background: #33c748;
}

.title {
    display:inline-flex;
}

.main-body {
    font-family: 'Fira Mono', monospace;
    font-size: 0.8rem;
}

.terminal-body-title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    color: white;
    display:flex;
}

.terminal-main-content {
    color:white;
}

.responses {
    padding: 10px;
}

a, a:link, a:visited {
    color:white;
 }

 ::-webkit-scrollbar
{
	width: 5px;
	background: rgba(29, 31, 32, 0.85);
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(82, 82, 82, 0.85)
}