/* You can add global styles to this file, and also import other style files */
body {
    background: url(\assets\background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

html {
    height:100%;
}